/*
#062074
#EFE603
#5A5600
#F1F1F1
#0C0C0C
*/
body {
  background-color: #0C0C0C;
  color: #5A5600;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 1.25em;
}

#lbt {
  display:none;
}

#lbt > h1 {
  color: #EFE603;
  font-size: 6em;
}

#lbt > h2 {
  color: #EFE603;
  font-size: 3em;
}

#lbt > p {
  color: #062074;
  font-size: 3em;
}


