/*
#062074
#EFE603
#5A5600
#F1F1F1
#0C0C0C
*/

body {
  background-color: #0C0C0C;
  color: #5A5600;
  text-align: center;
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 1.25em;
}

#lbt {
  color: #EFE603;
}

#heading {
  color: #5A5600;
}

