/*
#062074
#EFE603
#5A5600
#F1F1F1
#0C0C0C
*/

body {
  background-color: #0C0C0C;
  color: #5A5600;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
}

#lbt {
  color: #EFE603;
  height: 100px;
}

#heading {
  color: #5A5600;
}

#utc { 
  position:absolute;
  width:500px;
  margin-left:-250px;
  bottom:5px;
  left:50%;
}

